<a href="https://colab.research.google.com/github/tnthdrhks1/knu_machine_learning/blob/main/1122_testhouse_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from PIL import Image, ImageDraw, ImageFont
from glob import glob
from ast import literal_eval
from sklearn import linear_model
import sklearn.preprocessing as pre

In [ ]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     NaN  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df.isna().sum()
df = df.dropna()
df

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
5      Super built-up  Area  Ready To Move  ...     1.0   38.00
11               Plot  Area  Ready To Move  ...     3.0  295.00
...                     ...            ...  ...     ...     ...
13313  Super built-up  Area  Ready To Move  ...     1.0   57.00
13314  Super built-up  Area  Ready To Move  ...     3.0  112.00
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00

[7496 rows x 9 columns]

In [ ]:
df.isna().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [ ]:
Y = df['price'].values
X = df.iloc[:, :-1]

In [ ]:
X.shape, Y.shape

((7496, 8), (7496,))

In [ ]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [ ]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [ ]:
#2
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom'], dtype=object)

In [ ]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [ ]:
#집 사이즈 수치형으로 변경하기 
valid_list = []
for i in range(len(df)):
  row = df.iloc[i]  
  try:
    total_sqrt = float(row['total_sqft'])
    #print(total_sqrt)
    valid_list.append(True)  
  except:
    valid_list.append(False)

In [ ]:
df_valid = df[valid_list]
df_valid['total_sqft'] = df_valid['total_sqft']
df_valid.dtypes

area_type                object
availability             object
location                 object
size                     object
society                  object
total_sqft               object
bath                    float64
balcony                 float64
price                   float64
Built-up  Area            uint8
Carpet  Area              uint8
Plot  Area                uint8
Super built-up  Area      uint8
dtype: object

In [ ]:
df_valid.isna().sum().sum()

0

In [ ]:
X = df_valid.iloc[:, -4:-1]
Y = df_valid.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_train, df_test = train_test_split(df_valid, test_size = 0.2)
df_train.shape, df_test.shape

((5812, 13), (1453, 13))

In [ ]:
X_train = df_train.iloc[:, -4:-1]
Y_train = df_train.iloc[:,-1]

X_test = df_test.iloc[:, -4:-1]
Y_test = df_test.iloc[:,-1]

In [ ]:
model = linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#1차 시도
(0.475, 0.611)
model.score(X_train, Y_train), model.score(X_test, Y_test)

(1.0, 1.0)

In [ ]:
df = df_valid

In [ ]:
#2차시도 

X_train = df_train.iloc[:, 5]
Y_train = df_train.iloc[:,-1]

X_test = df_test.iloc[:, 5]
Y_test = df_test.iloc[:,-1]

In [ ]:
X_train = np.array(X_train).reshape(-1,1)
X_test = np.array(X_test).reshape(-1,1)

In [ ]:
model = linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.011341929584388177, 0.01603206485709663)

In [ ]:
pro = pd.get_dummies(df['area_type'])
pro

       Built-up  Area  Carpet  Area  Plot  Area  Super built-up  Area
0                   0             0           0                     1
1                   0             0           1                     0
3                   0             0           0                     1
5                   0             0           0                     1
11                  0             0           1                     0
...               ...           ...         ...                   ...
13313               0             0           0                     1
13314               0             0           0                     1
13315               1             0           0                     0
13317               1             0           0                     0
13318               0             0           0                     1

[7265 rows x 4 columns]

In [ ]:
df[pro.columns] = pro

In [ ]:
df_train, df_test = train_test_split(df, test_size = 0.2)

In [ ]:
df

                  area_type   availability  ... Plot  Area Super built-up  Area
0      Super built-up  Area         19-Dec  ...          0                    1
1                Plot  Area  Ready To Move  ...          1                    0
3      Super built-up  Area  Ready To Move  ...          0                    1
5      Super built-up  Area  Ready To Move  ...          0                    1
11               Plot  Area  Ready To Move  ...          1                    0
...                     ...            ...  ...        ...                  ...
13313  Super built-up  Area  Ready To Move  ...          0                    1
13314  Super built-up  Area  Ready To Move  ...          0                    1
13315        Built-up  Area  Ready To Move  ...          0                    0
13317        Built-up  Area  Ready To Move  ...          0                    0
13318  Super built-up  Area         18-Jun  ...          0                    1

[7265 rows x 13 columns]

In [ ]:
df.iloc[:,-3:]

       Carpet  Area  Plot  Area  Super built-up  Area
0                 0           0                     1
1                 0           1                     0
3                 0           0                     1
5                 0           0                     1
11                0           1                     0
...             ...         ...                   ...
13313             0           0                     1
13314             0           0                     1
13315             0           0                     0
13317             0           0                     0
13318             0           0                     1

[7265 rows x 3 columns]

In [ ]:
Y_train = df_train['price']
Y_test = df_test['price']

x_train = pd.concat((df_train.iloc[:, 5:8], df_train.iloc[:, -3:]), axis=1)
x_test = pd.concat((df_test.iloc[:, 5:8], df_test.iloc[:, -3:]), axis=1)

In [ ]:
df_train.iloc[:, 5:8]

      total_sqft  bath  balcony
2782        1728   3.0      2.0
9105        1861   3.0      3.0
9365        1285   2.0      2.0
10130       1252   3.0      2.0
4261        1320   2.0      3.0
...          ...   ...      ...
1543        1490   3.0      2.0
2942        1320   2.0      1.0
1640        1060   2.0      1.0
7675        1763   3.0      2.0
12981       1510   2.0      3.0

[5812 rows x 3 columns]

In [ ]:
model = linear_model.LinearRegression()
model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(X_train, Y_train), model.score(X_test, Y_test)

(8.124189729175058e-06, -0.00013374384051823007)

In [ ]:
df.dtypes

area_type                object
availability             object
location                 object
size                     object
society                  object
total_sqft               object
bath                    float64
balcony                 float64
price                   float64
Built-up  Area            uint8
Carpet  Area              uint8
Plot  Area                uint8
Super built-up  Area      uint8
dtype: object

In [ ]:
ddd = df['total_sqft'].apply(pd.to_numeric)
ddd.dtypes

dtype('int64')

In [ ]:
df['test1'] = ddd / df['bath'] 
df['test2'] = ddd / df['balcony']

In [ ]:
df

                  area_type   availability  ...        test1        test2
0      Super built-up  Area         19-Dec  ...   528.000000  1056.000000
1                Plot  Area  Ready To Move  ...   520.000000   866.666667
3      Super built-up  Area  Ready To Move  ...   507.000000  1521.000000
5      Super built-up  Area  Ready To Move  ...   585.000000  1170.000000
11               Plot  Area  Ready To Move  ...   557.000000   928.333333
...                     ...            ...  ...          ...          ...
13313  Super built-up  Area  Ready To Move  ...   672.500000  1345.000000
13314  Super built-up  Area  Ready To Move  ...   571.666667   571.666667
13315        Built-up  Area  Ready To Move  ...   863.250000          inf
13317        Built-up  Area  Ready To Move  ...   570.500000  1141.000000
13318  Super built-up  Area         18-Jun  ...  1172.250000  4689.000000

[7265 rows x 15 columns]

In [ ]:
Y_train = df_train['price']
Y_test = df_test['price']

x_train = pd.concat((df_train.iloc[:, 5:8], df_train.iloc[:, -6:]), axis=1)
x_test = pd.concat((df_test.iloc[:, 5:8], df_test.iloc[:, -6:]), axis=1)

In [ ]:
model = linear_model.LinearRegression()
model.fit(x_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(x_train, Y_train), model.score(x_test, Y_test)

(0.4767544855469812, 0.6028267843601935)

In [ ]:
proee = pd.get_dummies(df[['area_type','availability','location','size','society']])

df[proee.columns] = proee

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df.dtypes

area_type          object
availability       object
location           object
size               object
society            object
                    ...
society_Zonce E     uint8
society_Zostaa      uint8
society_i1ncyRe     uint8
society_i1odsne     uint8
society_i1rtsCo     uint8
Length: 3287, dtype: object

In [ ]:
df_train, df_test = train_test_split(df, test_size = 0.2)

In [ ]:
Y_train = df_train['price']
Y_test = df_test['price']

x_train = pd.concat((df_train.iloc[:, 5:8], df_train.iloc[:, 10:]), axis=1)
x_test = pd.concat((df_test.iloc[:, 5:8], df_test.iloc[:, 10:]), axis=1)

In [ ]:
model = linear_model.LinearRegression()
model.fit(x_test, Y_test)

ValueError: ignored

In [ ]:
model.score(X_test, Y_test)

In [ ]:
df_train, df_test = train_test_split(df, test_size = 0.2)

In [ ]:
Y_train = df_train['price']
Y_test = df_test['price']

x_train = df_train.iloc[:, 5:8]
x_test = df_test.iloc[:, 5:8]

In [ ]:
model.fit(x_train, Y_train)

In [ ]:
model.score(x_train, Y_train)

In [ ]:
df = pd.read_csv("train.csv")
df

      POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0         Owner                   0  ...  77.597960                   55.0
1        Dealer                   0  ...  76.644605                   51.0
2         Owner                   0  ...  77.632191                   43.0
3         Owner                   0  ...  77.344500                   62.5
4        Dealer                   1  ...  88.484911                   60.5
...         ...                 ...  ...        ...                    ...
29446     Owner                   0  ...  78.043277                   45.0
29447     Owner                   0  ... -86.150721                   16.0
29448    Dealer                   0  ...  75.828002                   27.1
29449     Owner                   0  ...  80.227910                   67.0
29450    Dealer                   0  ...  75.841749                   27.8

[29451 rows x 12 columns]

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df['BHK_OR_RK'].unique()

array(['BHK', 'RK'], dtype=object)

In [ ]:
df.dtypes

POSTED_BY                 object
UNDER_CONSTRUCTION         int64
RERA                       int64
BHK_NO.                    int64
BHK_OR_RK                 object
SQUARE_FT                float64
READY_TO_MOVE              int64
RESALE                     int64
ADDRESS                   object
LONGITUDE                float64
LATITUDE                 float64
TARGET(PRICE_IN_LACS)    float64
dtype: object

In [ ]:
#1차 시도
df = pd.read_csv("train.csv")

df_train, df_test = train_test_split(df, test_size = 0.2)

Y_train = df_train['TARGET(PRICE_IN_LACS)']
X_train = pd.concat((df_train.iloc[:, 1:4], df_train.iloc[:, 5:8] ,df_train.iloc[:,9:11]), axis=1)

Y_test = df_test['TARGET(PRICE_IN_LACS)']
X_test = pd.concat((df_test.iloc[:, 1:4], df_test.iloc[:, 5:8] ,df_test.iloc[:,9:11]), axis=1)

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)

model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.2025797818478552, 0.20334128120076223)

In [ ]:
#2차 시도 sqr, la long만
df = pd.read_csv("train.csv")

df_train, df_test = train_test_split(df, test_size = 0.2)

Y_train = df_train['TARGET(PRICE_IN_LACS)']
X_train = pd.concat((df_train.iloc[:, 5] ,df_train.iloc[:,9:11]), axis=1)

Y_test = df_test['TARGET(PRICE_IN_LACS)']
X_test = pd.concat((df_test.iloc[:, 5] ,df_test.iloc[:,9:11]), axis=1)

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.1653946493961852, 0.15089167225517996)

In [ ]:
#3차 시도 post 숫자로 변환해서 사용
df = pd.read_csv("train.csv")

post = pd.get_dummies(df['POSTED_BY'])
df[post.columns] = post

df_train, df_test = train_test_split(df, test_size = 0.2)

df_train0 = df_train.drop(columns='TARGET(PRICE_IN_LACS)')
df_test0 = df_test.drop(columns='TARGET(PRICE_IN_LACS)')

Y_train = df_train['TARGET(PRICE_IN_LACS)']
X_train = pd.concat((df_train0.iloc[:, 1:4], df_train0.iloc[:, 5] ,df_train0.iloc[:,9:]), axis=1)

Y_test = df_test['TARGET(PRICE_IN_LACS)']
X_test = pd.concat((df_test0.iloc[:, 1:4], df_test0.iloc[:, 5] ,df_test0.iloc[:,9:]), axis=1)

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.19011212721814985, 0.17146455897048252)

In [ ]:
#3차 시도 post 숫자로 변환해서 사용 + BHK_OR_RK 변환
df = pd.read_csv("train.csv")

post = pd.get_dummies(df[['POSTED_BY', 'BHK_OR_RK']])
df[post.columns] = post

df_train, df_test = train_test_split(df, test_size = 0.2)

df_train0 = df_train.drop(columns='TARGET(PRICE_IN_LACS)')
df_test0 = df_test.drop(columns='TARGET(PRICE_IN_LACS)')

Y_train = df_train['TARGET(PRICE_IN_LACS)']
X_train = pd.concat((df_train0.iloc[:, 1:4], df_train0.iloc[:, 5] ,df_train0.iloc[:,9:]), axis=1)

Y_test = df_test['TARGET(PRICE_IN_LACS)']
X_test = pd.concat((df_test0.iloc[:, 1:4], df_test0.iloc[:, 5] ,df_test0.iloc[:,9:]), axis=1)

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.21466567201038078, 0.028277079676412242)

In [ ]:
#4차 시도 + distance post 숫자로 변환해서 사용 + BHK_OR_RK 변환
df = pd.read_csv("train.csv")

distance = np.abs(df[['LONGITUDE',	'LATITUDE']] - df[['LONGITUDE',	'LATITUDE']].min())
distance = np.sqrt(np.square(distance).sum(axis = 1))

df['distance'] = distance

df_train, df_test = train_test_split(df, test_size = 0.2)

df_train0 = df_train.drop(columns='TARGET(PRICE_IN_LACS)')
df_test0 = df_test.drop(columns='TARGET(PRICE_IN_LACS)')

Y_train = df_train['TARGET(PRICE_IN_LACS)']
X_train = pd.concat((df_train0.iloc[:, 1:4], df_train0.iloc[:, 5] ,df_train0.iloc[:,9:]), axis=1)

Y_test = df_test['TARGET(PRICE_IN_LACS)']
X_test = pd.concat((df_test0.iloc[:, 1:4], df_test0.iloc[:, 5] ,df_test0.iloc[:,9:]), axis=1)

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
model.score(X_train, Y_train), model.score(X_test, Y_test)

(0.21802254596251255, 0.030450054756677395)

In [ ]:
X_train

       UNDER_CONSTRUCTION  RERA  BHK_NO.  ...  LONGITUDE   LATITUDE    distance
10396                   1     1        4  ...  30.684523  76.691728  209.909042
27257                   0     0        4  ...  22.459169  88.364505  218.571551
23562                   0     0        2  ...  15.459622  73.941404  202.797575
6777                    0     0        2  ...  21.372623  73.254962  203.770542
6982                    0     0        3  ...  12.995285  77.766797  205.870765
...                   ...   ...      ...  ...        ...        ...         ...
29438                   1     1        3  ...  19.075483  82.029995  211.555675
24800                   0     1        2  ...  30.382066  78.123734  211.165682
10807                   0     0        3  ...  19.068492  72.898896  202.772558
11384                   1     1        3  ...  28.542768  77.365736  209.860391
620                     0     0        2  ...  21.170000  72.830000  203.305097

[23560 rows x 7 columns]