<a href="https://colab.research.google.com/github/tnthdrhks1/knu_machine_learning/blob/main/20201107_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [0,1,2,3,4]
a.index(2) #2가 몇번째에 있는지 알려줌

2

# .index  
# .append
# .extend

In [ ]:
cat = ['bg', 'dog', 'cat', 'human']
cat.index("cat")

2

In [ ]:
cat.extend(a)
cat

['bg',
 'dog',
 'cat',
 'human',
 'm',
 'e',
 'w',
 'm',
 'e',
 'w',
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4]

In [ ]:
cat = [1,2,3]
cat.insert(1, "gohome")
cat

[1, 'gohome', 2, 3]

# 튜플
# 리스트와 비슷하지만 수정불가

In [ ]:
category = (1,2,3)
category[0]
len(category)
vv = list(category)
#print(set(vv))

a = set("hello")
print(a)
#튜플 = 상수라고 보면됨, 수정불가

{'e', 'o', 'h', 'l'}

In [ ]:
x = [1,2,3,4,1,2,6,8]
print(list(x))
print(set(x))
print(tuple(x))

[1, 2, 3, 4, 1, 2, 6, 8]
{1, 2, 3, 4, 6, 8}
(1, 2, 3, 4, 1, 2, 6, 8)

In [ ]:
  print(a)
  
  a.add("ㅋㅋ")
  print(a)

  a.discard("ㅋㅋ")
  print(a)

{'l', 'o', 'h', 'e'}
{'l', 'ㅋㅋ', 'o', 'h', 'e'}
{'l', 'o', 'h', 'e'}

In [ ]:
list1 = [1,2,3]
list2 = [3,4,5]

#result = [1,2,3,4,5,6]

print(list1.extend(list2))

None

In [ ]:
list1 = [1,2,3]
list2 = [3,4,5]

#result = [1,2,3,4,5,6]

# print(list1 + list2)
list1.extend(list2)
list1
set(list1)

{1, 2, 3, 4, 5}

In [ ]:
apple = {"color" : "red", "taste" : "good"}
print(apple)

del apple ["color"]
apple

{'color': 'red', 'taste': 'good'}

{'taste': 'good'}

In [ ]:
apple["money"] = "5000"
apple

del apple["money"]
apple

{'taste': 'good'}

In [ ]:
#coco 연습 

coco = {'annotation' : [{'id' : 0, 'class' : 'bike'}, {'id' : 0, 'class' : 'person'}], "image_w" : 1000, "image_h" : 800}

#문제1
print(coco['image_w'] , coco['image_h'])
print(coco['image_w'] * coco['image_h'])

print()
#a문제2
print(coco['annotation'][0]['class'])
print(coco['annotation'][1]['class'])

1000 800
800000

bike
person

#사람1이 3초에 pull을 하고 5초에 threaten을 8초에 punch를 합니다 
#사람2가 3초에 stand을 하고 8초에 punch

위 정보를 dict으로 저장
키 : per_id, action, time

In [ ]:
dic1 = {'person1' : {'per_id' : 1, 'action' : [{"act" : "pull", 'time' : '3'}, {"act" : "treaten",'time' : '5'}, {"act" : "punch",'time' : '8'}]}, 
        'person2' : {'per_id' : 2, 'action' : [{"act" : "stand", 'time' : '3'}, {"act" : "punch",'time' : '8'}]}}

#사람1
print(dic1['person1']['action'][0]['time'], dic1['person1']['action'][0]['act'])
print(dic1['person1']["action"][1]['time'], dic1['person1']["action"][1]['act'])
print(dic1['person1']["action"][2]['time'], dic1['person1']["action"][2]['act'])

print("")

#사람2
print(dic1['person2']['action'][0]['time'], dic1['person2']['action'][0]['act'])
print(dic1['person2']["action"][1]['time'], dic1['person2']["action"][1]['act'])

3 pull
5 treaten
8 punch

3 stand
8 punch

In [ ]:
for i in dic1:
  print("per1 = " ,i)

per1 =  person1
per1 =  person2

In [ ]:
x = 1000000
i = 1

while (2**i < x):

  print(2**i)
  i += 1

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288

In [ ]:
def hello(lee, city = "kangwon"):
  print(lee)

  return lee

hello("lim")
hello([1,2,3])

lim
[1, 2, 3]

[1, 2, 3]

In [ ]:
class java:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def run(self):
    print(self.name, self.age)

lee = java('dd', 00)
lee.run()

dd 0